{% extends "base.html" %}

{% block title %}Datos de Pedidos{% endblock %}

{% block content %}
<!-- Botón de volver al panel principal -->
    <a href="{{ url_for('admin') }}" class="btn btn-primary">Volver al panel</a>
<h2>Datos de Pedidos</h2>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Email</th>
<th>Celular</th>
<th>Dirección</th>
<th>Producto</th>
<th>Opciones</th>
</tr>

{% for p in pedidos %}

<tr>
<td>{{ p[0] }}</td>
<td>{{ p[1] }}</td>
<td>{{ p[2] }}</td>
<td>{{ p[3] }}</td>
<td>{{ p[4] }}</td>
<td>{{ p[5] }}</td>

<td colspan="2">
    <a href="{{ url_for('editar_pedido', id_pedido=p[0]) }}" class="btn btn-sm btn-primary">Editar</a>
    <a href="{{ url_for('eliminar_pedido', id_pedido=p[0]) }}" 
       class="btn btn-sm btn-danger"
       onclick="return confirm('¿Estás seguro de eliminar este pedido?')">Eliminar</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}