{% extends "base.html" %}

{% block content %}

<h2>Editar Pedido</h2>

<form method="POST">

Nombre:
<input type="text" name="nombre" value="{{ pedido[1] }}" required><br>

Email:
<input type="email" name="email" value="{{ pedido[2] }}" required><br>

Celular:
<input type="text" name="celular" value="{{ pedido[3] }}"><br>

Dirección:
<input type="text" name="direccion" value="{{ pedido[4] }}"><br>

Producto:
<input type="text" name="producto" value="{{ pedido[5] }}"><br>

<input type="submit" value="Actualizar Pedido">

</form>

<br>

<a href="{{ url_for('ver_pedidos') }}">Volver a la lista de pedidos</a>

{% endblock %}