{% extends "base.html" %}

{% block content %}

<h2>Eliminar Producto</h2>
<div class="container mt-4">
    <h2 class="mb-3">Eliminar Producto</h2>

    <!-- Mensaje de error -->
    {% if mensaje %}
        <div class="alert alert-danger">{{ mensaje }}</div>
    {% endif %}

    <!-- Formulario para eliminar por ID -->
    <form method="POST" class="mb-4">
        <div class="mb-3">
            <label for="id_producto" class="form-label">ID del producto:</label>
            <input type="number" class="form-control" name="id_producto" id="id_producto" required>
        </div>
        <button type="submit" class="btn btn-danger">Eliminar Producto</button>
    </form>

{% endblock %}