body {
    font-family: Arial, sans-serif;
    background-color: hwb(0 84% 0%);
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #ce02bd;
}

.controls {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 300px;
    border: 1px solid #f89cdc;
    border-radius: 5px;
    color: rgb(34, 33, 33);
}

button {
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    color: rgb(102, 97, 97);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/*--- Botón Agregar--- */
#addImage {
    background-color: #eebee0;
    color: black;
}

#addImage:hover {
    background-color: #cdd3d6;
    transform: scale(1.05);
}

/*---Botón Eliminar---*/
#deleteImage {
    background-color: #eebee0; 
    color: black;
}

#deleteImage:hover {
    background-color: #cdd3d6;
    transform: scale(1.05);
}

/* ---- GALERÍA ---- */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    max-width: 900px;
    margin: auto;
}

.gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Imagen seleccionada */
.selected {
    box-shadow: 0 0 15px 5px #eebee0(52, 152, 219, 0.8);
}