{% extends "base.html" %}
{% block title %}Panel de Administración{% endblock %}

{% block content %}
<h2>Panel de Administración</h2>

<!-- Menú de subrutas -->
    <div class="botones-usuario">
        <a href="{{ url_for('admin_añadir') }}" class="btn-usuario">Añadir producto</a>
        <a href="{{ url_for('admin_eliminar') }}" class="btn-usuario">Eliminar producto</a>
        <a href="{{ url_for('admin_actualizar') }}" class="btn-usuario">Actualizar producto</a>
        <a href="{{ url_for('admin_buscar') }}" class="btn-usuario">Buscar producto</a>
        <a href="{{ url_for('admin_productos') }}" class="btn-usuario">Mostrar Productos</a>
        <a href="{{ url_for('mostrar_datos') }}" class="btn-usuario">Datos Pedidostxt-csv-json</a>
        <a href="{{ url_for('ver_pedidos') }}" class="btn-usuario">Datos Pedidos bd</a>
        <a href="{{ url_for('ver_productos_bd') }}" class="btn-usuario">Productos bd</a>
        <a href="{{ url_for('reporte_pdf') }}" class="btn-usuario">Generar PDF - Catálogo</a>
        <a href="{{ url_for('ver_usuarios') }}" class="btn-usuario">Usuarios registrados</a>
    </div>


<!-- Mostrar mensaje opcional -->
{% if mostrar_login %}
    <p>{{ mensaje }}</p>
{% endif %}

<!-- Tabla de productos (si se pasa desde Flask) -->
{% if productos %}
<h3>Inventario Actual</h3>
<table border="1">
<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Categoría</th>
</tr>
{% for p in productos %}
<tr>
    <td>{{ p.id_producto }}</td>
    <td>{{ p.nombre }}</td>
    <td>{{ p.cantidad }}</td>
    <td>${{ p.precio }}</td>
    <td>{{ p.categoria }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}