{% extends "base.html" %}
{% block title %}Inicio{%endblock %}
{% block content %}
<div class="logo-container d-flex justify-content-center my-4">
    <img src="{{ url_for('static', filename='img/logo.jpg') }}" 
         class="img-fluid"
         style="width:150px; height:160px;" 
         alt="Logo Tienda Velsh">
</div>
<div class="logo-text">
    <p>
         Descubre nuestra colección exclusiva de calzado femenino moderno.
    </p>
</div>


<section>
    <h3 class="text-center my-4">Ofertas</h3>
    <p class="text-center lead">¡No te pierdas nuestras promociones!</p>
    <div id="promotienda" class="carousel slide mb-5" data-bs-ride="carousel">

        <!-- Indicadores -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#promotienda" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#promotienda" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#promotienda" data-bs-slide-to="2"></button>
        </div>

        <!-- Items del carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/img19.jpg') }}" class="d-block w-50 mx-auto" alt="cas1">
                <div class="carousel-caption bg-dark bg-opacity-50 rounded p-2">
                    <h3>Mocasines Vik</h3>
                    <p>Compra ahora y ahorra $5</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/img2.jpg') }}" class="d-block w-50 mx-auto" alt="Zapatos Star">
                <div class="carousel-caption bg-dark bg-opacity-50 rounded p-2">
                    <h3>Zapatos Star</h3>
                    <p>Precio especial esta semana a tan solo $20</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/img3.jpg') }}" class="d-block w-50 mx-auto" alt="Zapatos Frek">
                <div class="carousel-caption bg-dark bg-opacity-50 rounded p-2">
                    <h3>Zapatos Frek</h3>
                    <p>15% de descuento por tiempo limitado</p>
                </div>
            </div>
        </div>

        <!-- Controles -->
        <button class="carousel-control-prev" type="button" data-bs-target="#promotienda" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promotienda" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>
</section>
<!--Presentación de categrías-->
<section>
    <h3>Categorías </h3>
    <ul>
        <li><a href="{{ url_for('categoria', tipo='deportivos') }}">Deportivos</a></li>
        <li><a href="{{ url_for('categoria', tipo='elegantes') }}">Elegantes</a></li>
        <li><a href="{{ url_for('categoria', tipo='botas') }}">Botas</a></li>
        <li><a href="{{ url_for('categoria', tipo='mocasines') }}">Mocasines</a></li>
    </ul>
</section>
<!--Presentación completa d etodos los productos-->
<!--Deportivos-->
<section>
<h2 class="text-center my-4">Deportivos</h2>
<div class="row">
     <!-- Producto 1 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img1.jpg') }}" class="card-img-top" alt="Zapatos Lovito">
            <div class="card-body">
                <h3>Zapatos Lovito</h3>
                <p class="card-text">
                    Tallas: 37, 38, 39, 40 <br>
                    Color: único <br>
                    Precio: <strong>$23</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Zapatos Lovito') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

    <!-- Producto 2 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img2.jpg') }}" class="card-img-top" alt="Zapatos Star">
            <div class="card-body">
                <h3>Zapatos Star</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38, 39, 40 <br>
                    Color: único <br>
                    Precio: <strong>$20</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Zapatos Star') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
 <!---Producto 3-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img3.jpg') }}" class="card-img-top img-fluid" alt="Zapatos strawberry">
            <div class="card-body">
                <h3>Zapatos Frek</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39 <br>
                    Color: único <br>
                    Precio: <strong>$27</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Zapatos Frek') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
    <!--Producto 4-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img4.jpg') }}" class="card-img-top img-fluid" alt="Zapatos sport">
            <div class="card-body">
                <h3>Zapatos Jordan</h3>
                <p class="card-text">
                    Tallas: 37, 38, 39 <br>
                    Color: Negro, Rojo <br>
                    Precio: <strong>$23</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Zapatos Jordan') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
    <!--Producto 5-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img5.jpg') }}" class="card-img-top img-fluid" alt="Zapatos fila">
            <div class="card-body">
                <h3>Zapatos Fila</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38, 39 <br>
                    Color: Blanco, Negro <br>
                    Precio: <strong>$23</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Zapatos Fila') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
     <!--Producto 6-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img6.jpg') }}" class="card-img-top img-fluid" alt="Zapatos converse">
            <div class="card-body">
                <h3>Zapatos Converse</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38, 39 <br>
                    Color: Blanco, Negro, Azul, Lila <br>
                    Precio: <strong>$20</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Zapatos Converse') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
</div>
</section>
<!--Elegantes-->
<section>
<h2 class="text-center my-4">Elegantes</h2>
<div class="row">
     <!--Producto 1-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img7.jpg') }}" class="card-img-top img-fluid" alt="Maryjean altos">
            <div class="card-body">
                <h3>Zapatos Maryjean Altos</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38, 39 <br>
                    Color: Negro<br>
                    Precio: <strong>$35</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Zapatos Maryjean Altos') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

     <!--Producto 2-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img8.jpg') }}" class="card-img-top img-fluid" alt="Tacones punta">
            <div class="card-body">
                <h3>Tacones Puntiagudos con lazo</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38 <br>
                    Color: único<br>
                    Precio: <strong>$23</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Tacones Puntiagudos con lazo') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

     <!--Producto 3-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img9.jpg') }}" class="card-img-top img-fluid" alt="maryjeans">
            <div class="card-body">
                <h3>Maryjeans mediano-bajo </h3>
                <p class="card-text">
                    Tallas: 36, 37, 38<br>
                    Color: Negro, Rojo<br>
                    Precio: <strong>$25</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Maryjeans mediano-bajo') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
     <!--Producto 4-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img10.jpg') }}" class="card-img-top img-fluid" alt="tacones">
            <div class="card-body">
                <h3>Stiletto lace-up heel</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38<br>
                    Color: Negro, Rojo, Azul, Blanco<br>
                    Precio: <strong>$20</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Stiletto lace-up heel') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
    
     <!--Producto 5-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img11.jpg') }}" class="card-img-top img-fluid" alt="tacones2">
            <div class="card-body">
                <h3>Tacón de aguja - Shak</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38 <br>
                    Color: Negro, Rojo, Azul<br>
                    Precio: <strong>$20</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Tacón de aguja - Shak') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

     <!--Producto 6-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img12.jpg') }}" class="card-img-top img-fluid" alt="tacones3">
            <div class="card-body">
                <h3>Butterfly</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38 <br>
                    Color: Dorado, Plateado<br>
                    Precio: <strong>$23</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Butterfly') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
</div>
</section>
<!--Botas-->
<section>
<h2 class="text-center my-4">Botas</h2>
<div class="row">
   <!--Producto 1-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img13.jpg') }}" class="card-img-top img-fluid" alt="botas1">
            <div class="card-body">
                <h3>Botas Zhurk</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39 <br>
                    Color: Negro, Marrón<br>
                    Precio: <strong>$35</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Botas Zhurk') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

     <!--Producto 2-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img14.jpg') }}" class="card-img-top img-fluid" alt="botas2">
            <div class="card-body">
                <h3>Botas Star</h3>
                <p class="card-text">
                    Tallas: 37, 38, 39 <br>
                    Color: único<br>
                    Precio: <strong>$40</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Botas Star') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

    <!--Producto 3-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img15.jpg') }}" class="card-img-top img-fluid" alt="botas3">
            <div class="card-body">
                <h3>Botas Rider</h3>
                <p class="card-text">
                    Tallas: 37, 38, 39 <br>
                    Color: Negro, Marrón<br>
                    Precio: <strong>$35</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Botas Rider') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

    <!--Producto 4-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img16.jpg') }}" class="card-img-top img-fluid" alt="botas4">
            <div class="card-body">
                <h3>Botas Whuish</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39, 40 <br>
                    Color: Blanco, Negro, Marrón, Beige<br>
                    Precio: <strong>$25</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Botas Whuish') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

    <!--Producto 5-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img17.jpg') }}" class="card-img-top img-fluid" alt="botas5">
            <div class="card-body">
                <h3>Botas Bratz</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38, 39 <br>
                    Color: único<br>
                    Precio: <strong>$50</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Botas Bratz') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

    <!--Producto 6-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img18.jpg') }}" class="card-img-top img-fluid" alt="botas6">
            <div class="card-body">
                <h3>Botas Charol</h3>
                <p class="card-text">
                    Tallas: 36, 37, 38, 39 <br>
                    Color: único<br>
                    Precio: <strong>$30</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Botas Charol') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
</div>  
</section>
<!--Mocasines-->
<section>
    <h2 class="text-center my-4">Mocasines</h2>
    <div class="row">
     <!--Producto 1-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img19.jpg') }}" class="card-img-top img-fluid" alt="cas1">
            <div class="card-body">
                <h3>Mocasines Vik</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39 <br>
                    Color: Negro<br>
                    Precio: <strong>$15</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Mocasines Vik') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

     <!--Producto 2-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img20.jpg') }}" class="card-img-top img-fluid" alt="cas2">
            <div class="card-body">
                <h3>Luxe Buckle</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39 <br>
                    Color: Negro<br>
                    Precio: <strong>$20</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Luxe Buckle') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

     <!--Producto 3-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img21.jpg') }}" class="card-img-top img-fluid" alt="cas3">
            <div class="card-body">
                <h3>Mocasines Nanno</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39 <br>
                    Color: Negro, Marrón, Vino<br>
                    Precio: <strong>$25</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Mocasines Nanno') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

     <!--Producto 4-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img22.jpg') }}" class="card-img-top img-fluid" alt="cas4">
            <div class="card-body">
                <h3>Mocasines Shaki</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39 <br>
                    Color: Negro, Vino<br>
                    Precio: <strong>$20</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Mocasines Shaki') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

     <!--Producto 5-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img23.jpg') }}" class="card-img-top img-fluid" alt="cas5">
            <div class="card-body">
                <h3>Mocasines Vusher</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39 <br>
                    Color: único<br>
                    Precio: <strong>$23</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Mocasines Vusher') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>

    <!--Producto 6-->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/img24.jpg') }}" class="card-img-top img-fluid" alt="cas6">
            <div class="card-body">
                <h3>Mocasines Paris</h3>
                <p class="card-text">
                    Tallas: 35, 36, 37, 38, 39 <br>
                    Color: único<br>
                    Precio: <strong>$23</strong>
                </p>
                <a href="{{ url_for('pedido', producto='Mocasines Paris') }}" class="btn btn-primary">Hacer pedido</a>
            </div>
        </div>
    </div>
</div>   
</section>
{% endblock %}